.map-guide-marker {
  width: 20px !important;
  height: 20px !important;
  min-width: 20px;
  min-height: 20px;
}

.map-guide-marker > svg {
  display: block;
  width: 20px;
  height: 20px;
}

.walk-marker {
  width: 29px !important;
  height: 29px !important;
}

.walk-marker--start {
  width: 34px !important;
  height: 34px !important;
}
